body     {background:  #323038; }

 /* Set main background color */
h1       { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100%; font-variant: none;  }
h2       { color: #003; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90%; font-variant: none;  }
h3       { color: #003; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90% }
h4       { color: #333333; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90% }
dl       { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90% }
ol, ol ol, ol ol ol       { color: #666666; font-family: Verdana, Arial, Helvetica, sans-serif; }
ul       { color: #333333; font-family: Verdana, Arial, Helvetica, sans-serif; }
ul ul    { color: #333333; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 95% }
ul ul ul { color: #333333; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 95% }
.verse       { font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 70%; color: 
               #FFFFFF; font-weight: bold }

.main_table  { border-left-style: solid; border-left-width: 1px; border-right-width: 1px; 
               border-top-style: solid; border-top-width: 1px; 
               border-bottom-width: 1px }
/* Set hyperlink properties for main menu */
.main_menu a:link 
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #FFF; } 

.main_menu a:active  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #BEC2CD; }
 
.main_menu a:visited  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #FFF; } 

.main_menu a:hover  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #000; text-decoration: underline; } 



/* Set hyperlink properties for sub menu */
.sub_menu a:link 
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #003; } 

.sub_menu a:active  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #BEC2CDCCC; }
 
.sub_menu a:visited  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #003; } 

.sub_menu a:hover  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #000; text-decoration: underline; } 



/* Set hyperlink properties for footer area */
.footer a:link 
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #FFF; } 

.footer a:active  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #BEC2CD; }
 
.footer a:visited  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #FFF; } 

.footer a:hover  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #BEC2CD; text-decoration: underline; } 



/* Set hyperlink properties for all other areas */
a:link  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #003; text-decoration: underline; } 
a:active  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #000; text-decoration: underline; } 
a:visited  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #003; text-decoration: underline; } 
a:hover  
   { font: normal normal 10px/14px Verdana, Arial, sans-serif; 
     color: #645F70; text-decoration: none; } 



HR {border-left: 0px solid #003; border-right: 0px solid #003; border-top: 1px solid #003; border-bottom: 0px solid #003; height: 0px; width: 70%; }

.entrytop { background: #FFF; color: #666; font: normal normal 11px/14px Verdana, sans-serif;  }
.entrybottom { background: #BEC2CD; color: #BEC2CD; border: 1px solid #FFFFFF;; font-style:normal; font-variant:normal; font-weight:normal; line-height:14px; font-size:11px; font-family:Verdana, sans-serif }
.entryback { background: #02020B; }
.logo { font: normal bold 18px/18px Verdana, Arial, sans-serif; color: #FFFFFF; }
.main_menu { background: #645F70; color: #FFF; font: normal normal 10px/14px Verdana, Arial, sans-serif; height: 24px; padding-top: 5px; padding-right: 5px;}
.sub_menu { height: 28px; background: #BEC2CD; color: #645F70; font: normal normal 10px/14px Verdana, Arial, sans-serif; border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF; height: 24px; padding-top: 3px; padding-left: 10px;}
.leftside { background: #02020B; color: #333; font-size: 90%; font-family: Verdana, Arial, Helvetica; line-height: 120%; width: 169px; padding: 5px;}
.body1 { background: #FFF; color: #666; font: normal normal 11px/14px Verdana, sans-serif;  }
.products { background: #FFF; color: #333; font: normal normal 11px/14px Verdana, sans-serif; padding: 8px;  }
.productbox { background: #F5F5F5; font-size: 85%; text-decoration: none; color: #333333; font-family: Verdana, Arial, Helvetica; padding: 5px; }
.rightside { background: #87889C; color: #FFF; font: normal normal 10px/14px Verdana, Arial, sans-serif; height: 24px; border-left: 1px solid #003;  }
.special2 { background: #FFF; color: #666; font: normal normal 9px/12px Verdana, Arial, sans-serif; border: 1px solid #BEC2CD; padding: 5px; }
.textbox { background: #F5F5F5; color: #333; font: normal normal 11px/14px Verdana, Arial, sans-serif; border: 1px solid #003; padding: 5px; }
.textboxtop { background: #003; color: #FFF; font: normal bold 11px/14px Verdana, Arial, sans-serif; border: 1px solid #003; padding: 5px; }
.footer { height: 28px; background: #323038; color: #FFF; padding-top: 3px; border-top: 1px solid #BEC2CD; font-style:normal; font-variant:normal; font-weight:normal; line-height:14px; font-size:10px; font-family:Verdana, Arial, sans-serif; width:751px }